.Home {
  /* border: 1px solid purple; */
  width: 1000px;
}

.joke-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.joke-card {
  border: 1px solid red;
  width: 300px;
  margin: 15px;
}